body {
  background-color: #1e1e1e;
  background-image: url('blurredCode.jpg');
  font-family: sans-serif;
}
div.content {
  border-radius: 15px;
  background-color: white;
}
#asteroidsGame {
  width: 500px;
  height: 500px;
  padding: 0;
}
