body {
  background-color: #1e1e1e;
  background-image: url('blurredCode.jpg');
  font-family: sans-serif;
}
div.content {
  margin: auto;
  width: 50%;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
}
#asteroidsGame {
  width: 80%;
  height 60%;
}